@use "node_modules/bulma-scss/bulma"

.markdown-card-widget
    height: 100%

    .markdown-card-widget-title
        width: 100%
        border-bottom: thin solid black

        nav.level
            width: 100%

    .markdown-card-widget-body
        overflow: auto
        text-overflow: ellipsis
